@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    font-family: 'Source Sans Pro';
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 1em;
}

nav {
    display: flex;
    flex-flow: row wrap;
    gap: 1em;
    margin: 0 0 1em 0;
    border-bottom: 1px solid black;
    padding: 0 0 2em 0;
}

.button {
    color: black;
    text-decoration: none;
}

.nav-elem {
    flex: 1 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1em 2em;
    border: 2px solid black;
    border-radius: 50em;
    box-shadow: 0px 5px 1em rgba(0,0,0,0.33);
}

.site {
    margin-bottom: 0.5em;
    font-size: 24pt;
    font-style: italic;
    text-align: center;
}

.home { background-color: #FF6759; }
.about { background-color: #FFE228; }
.work { background-color: #7FFF7F; }
.blog { background-color: #00E5FF; }
.dni { background-color: #FF77E3; }

.headmate {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    margin: 1em 0;
    border-radius: 3em;

    background: #EFEFEF;
}

.headmate p {
    margin: 1em 0 0em 0;
}

.pfp {
    border: 2px solid black;
    border-radius: 50%;
    box-shadow: 0px 10px 1em rgba(0,0,0,0.33);
}

.profile {
    border-radius: 50%;
}

.profile:hover { background: rgba(255,255,255); }
.pfp:hover { opacity: 0.5; transition: ease-in 0.1s; }

@media screen and (min-width: 768px) {
    .headmate {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0 3em 0 0;
        margin: 2em 0em;
    
        border-radius: 100em;
        gap: 1.5em;
        background: #EFEFEF;
    }
}